<div id="<%= dom_id playdate %>">
  <p>
    <strong>Title:</strong>
    <%= playdate.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= playdate.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= playdate.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= playdate.end_time %>
  </p>

</div>
