<div class="container mt-5 text-center>
    <h1>Hello Margo Friends</h1>
    <%= month_calendar(events: @playdates) do |date, playdates| %>
        <div class="day">
            <%= date.day %>
        </div>            
        <% playdates.each do |playdate| %> 
            <div class="day">   
                <div class="card-header">
                    <h6 class="card-title">
                        <%= link_to playdate.title, playdate %>
                    </h6>
                </div>                 
                <div class="card-footer">
                    <p class="card-text">
                        From <%= playdate.start_time.strftime('%R %p') %>                    
                        </br>
                        To <%= playdate.end_time.strftime('%R %p') %>
                    </p>
                </div>  
            </div>                
        <% end %>            
    <% end %>       
</div>